body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: #111;
  color: #eee;
  margin: 0;
  padding: 20px;
}

button {
  margin: 5px;
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #444;
  color: #fff;
  cursor: pointer;
}

button:hover {
  background-color: #666;
}

.section {
  margin-top: 30px;
}

#adminPanel {
  display: none;
  margin-top: 30px;
}

#iconBar button {
  background: none;
  border: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

#iconBar button:hover {
  color: gold;
}

#iconBar {
  display: none;
}
